@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&family=Fira+Sans:ital,wght@1,100&family=Geologica:wght@500&family=Merriweather:ital,wght@0,400;1,900&family=Montserrat:wght@400;700&family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Geologica;
}

body {
  background-color: black;
}

.cont {
  display: flex;
  padding: 8px;
  overflow: auto;
}

/* left side */

.leftSide {
  background-color: #121212;
  width: 25vw;
  height: 100vh;
  /* border: 2px solid red; */
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  /* justify-content: top; */
  align-items: center;
  position: sticky;
  top: 0px;
  border-radius: 8px;
}

.leftUpperSide {
  width: 90%;
  height: 120px;
  margin: 5px;
  /* border: 2px solid green; */
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #121212;
  padding: 15px 0;
}

.logo {
  width: 90%;
  height: 30px;
  /* border: 2px solid fuchsia; */
  margin: 3px;
  display: flex;
  align-items: center;
}

.homeULBelowLogo {
  width: 90%;
  height: 30px;
  /* border: 2px solid fuchsia; */
  margin: 3px;
  display: flex;
  align-items: center;
  color: white;
  padding: 15px 0;
  font-size: 14px;
}

.searchULBelowLogo {
  width: 90%;
  height: 30px;
  /* border: 2px solid fuchsia; */
  margin: 3px;
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #b3b3b3;
  padding: 8px 0;
}

.leftUpperSide li {
  list-style: none;
  display: flex;
  font-weight: 700;
}

.leftUpperSide li img {
  width: 24px;
  height: 24px;
  position: relative;
  bottom: 3px;
}

.leftUpperSide p {
  padding-left: 1vw;
}

.library {
  width: 90%;
  height: 56px;
  margin: 10px 5px 0;
  /* border: 2px solid peru; */
  display: flex;
  align-items: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #121212;
}

.library img {
  width: 24px;
}

.libraryItems {
  display: flex;
  align-items: center;
  width: 90%;
}

.library p {
  font-size: 14px;
  padding-left: 4%;
  font-weight: 700;
  color: #a7a7a7;
}

.makePlaylists {
  height: 320px;
  width: 95%;
  /* border: 2px solid darkcyan; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playlists {
  height: 132px;
  width: 94%;
  /* border: 2px solid rgb(62, 14, 53); */
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 18px solid #121212;
  background-color: #242424;
  color: white;
}

.makePlaylists p {
  font-size: 16px;
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 18px;
}

.makePlaylists button {
  width: 119px;
  height: 32px;
  font-size: 13px;
  background-color: white;
  color: black;
  border-radius: 99px;
  border: none;
}

@media (max-width: 700px) {
  .makePlaylists button {
    width: 80px;
    height: 32px;
    font-size: 10px;
    margin-bottom: 3px;
  }
  .makePlaylists p {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 18px;
  }
}

.leftFooter {
  height: 208px;
  width: 90%;
  /* border: 2px solid rgb(88, 83, 22); */
  /* margin-top: 1px; */
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #121212;
}

.information {
  height: 120px;
  width: 90%;
  /* border: 2px solid tan; */
  font-size: 11px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #a7a7a7;
}

.insideInformation {
  height: 57px;
  display: flex;
  /* border: 2px solid hotpink; */
}

.information ul li {
  list-style: none;
  display: inline;
  padding-right: 4px;
}

@media (max-width: 550px) {
  .information {
    font-size: 8px;
  }
}

.language {
  height: 32px;
  width: 90%;
}

.language i {
  position: relative;
  right: 3px;
}

.language button {
  height: 32px;
  width: 80px;
  border-radius: 99px;
  color: white;
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

@media (max-width: 550px) {
  .language button {
    height: 32px;
    width: 70px;
  }
}

/* right side */

.rightSide {
  width: 75vw;
  height: 100vh;
  border-radius: 8px;
}

.headerOnRightSide {
  display: flex;
  align-items: center;
  height: 64px;
  /* border: 2px solid gold; */
  justify-content: space-between;
  padding: 0 25px;
  background-color: black;
}

@media (max-width: 550px) {
  .headerOnRightSide {
    padding: 0;
  }
  .premium p {
    font-size: 9px;
    margin-left: 8000px;
  }
}

.arrows {
  display: flex;
}

.leftArrow img {
  width: 16px;
  height: 16px;
  position: relative;
  top: 2px;
  right: 1px;
}

.leftArrow button {
  width: 22px;
  height: 22px;
  border-radius: 99px;
  background-color: black;
  border: black;
}

.rightArrow img {
  width: 16px;
  height: 16px;
  position: relative;
  top: 2px;
  left: 1px;
}

.rightArrow button {
  width: 22px;
  height: 22px;
  border-radius: 99px;
  margin-left: 5px;
  background-color: black;
  border: black;
}

.aRightBox {
  width: 90%;
  display: flex;
  justify-content: end;
}

.premium {
  font-size: 16px;
  color: #a7a7a7;
  margin-top: 6px;
}

.dividerBeforeSignUp {
  border: 2px solid #a7a7a7;
  height: 24px;
  margin: 5px 2%;
}

.loggingIn {
  display: flex;
  justify-content: space-evenly;
}

.signUp button {
  width: 75px;
  height: 35px;
  background-color: #121212;
  color: #a7a7a7;
  border-radius: 99px;
  border: #121212;
}

.logIn button {
  width: 75px;
  height: 35px;
  background-color: #fff;
  color: #a7a7a7;
  border-radius: 99px;
  border: #fff;
}

.boxBelowHeader {
  height: 650px;
  /* border: 2px solid blue; */
  padding: 5px;
  background-color: #121212;
}

.cardHeading {
  /* border: 2px solid hotpink; */
  color: white;
}

.moreCards {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cards {
  width: 195px;
  height: 280px;
  /* border: 2px solid indianred; */
  margin: 10px;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #b3b3b305;
}

.detailsOfCard {
  width: 170px;
}

.cards img {
  width: 100%;
  height: 170px;
  border-radius: 8px;
}

.cards h4 {
  margin: 5px 0;
  font-size: 1rem;
  color: white;
}

.cards p {
  font-size: 0.8rem;
  color: #a7a7a7;
}

.rightFooter {
  width: 80%;
  height: 214px;
  /* border: 2px solid purple; */
  background-color: #121212;
}

.ulInRightFooter {
  display: flex;
  padding: 20px 0;
}

.ulInRightFooter p {
  padding: 0 80px 7px 0px;
  color: white;
}

.ulInRightFooter li {
  font-size: 14px;
  padding: 0 80px 7px 0px;
  list-style: none;
  color: #a7a7a7;
}

.socialMedia {
  width: 20%;
  height: 214px;
  /* border: 2px solid olive; */
  display: flex;
  background-color: #121212;
}

.socialMedia button {
  width: 40px;
  height: 40px;
  border-radius: 99px;
  background-color: #242424;
  margin: 0 5px;
  border: 2px solid #121212;
}

.socialMedia img {
  width: 16px;
  height: 16px;
}

@media (max-width: 550px) {
  .ulInRightFooter {
    display: flex;
    padding: 0;
  }

  .ulInRightFooter p {
    font-size: 10px;
    padding: 0;
    color: white;
  }

  .ulInRightFooter li {
    font-size: 10px;
    list-style: none;
    color: #a7a7a7;
  }
  .socialMedia {
    width: 80%;
    height: 214px;
  }
}
